* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eb6b15;
  position: relative;
  padding: 25%;
}

.container {
  position: absolute;
  border: 1px solid white;
  border-radius: 5px;
  height: 300px;
  width: 500px;
  transform: translate(-50%, -50%);
  left: 50%;
  align-items: center;
  padding-top: 50px;
}

.select {
  padding-left: 50px;
  color: #fff;
  font-size: large;
}

.selector {
  margin-left: 70px;
  position: absolute;
  float: left;
  left: 130px;
  width: 250px;
  font-size: 11px;
  padding: 5px;
}

div, .select .selector #submit {
  margin: 20px;
  align-items: center;
}

#submit {
  position: absolute;
  float: left;
  left: 200px;
  width: 250px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}
